extends layout

block content
  h1= title
  p Welcome to #{title}
  div#container
  p#process
  p#result
  form(action="/post" method="POST")
    input(type="text" name="input")#input
    button(type="submit") 送信
  script(src="javascripts/barcode.js")