extends layout

block content
  h1 ベースフード管理システム（仮）
  form(action="/get-my-info", method="get") 
    button(type="submit") 取得する
  div#container
  p#process
  ul 
    if (products)
      each product in products 
        li #{product.name}: 残り#{product.number}
  p#result
  form(action="/products/add" method="POST")
    input(type="text" name="input")#input
    button(type="submit") 追加
    p ※「追加」は月に一度、商品が届きたときに押して下さい。
  script(src="javascripts/barcode.js")